.top {
	background-color: #A5D2DA;
	margin: 0;

}
nav {
	margin-top: 20px;
	background-color: #A5D2DA;
}
nav .logo {
	margin-top: 40px;
	margin-left: 200px;
	
	float: left;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 30px;
	padding: 14px 10px;
	font-size: 23px;

}
nav ul li a {
	color: inherit;
	border-radius: 10px;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: black;
	color: #A5D2DA;
	padding: 10px;
}
.photo {
	margin-left: 200px;
	
	width: 80%;
}

/*SECTION MAIN*/
#main {
	margin-top: 50px;
	margin-left: 200px;
	height: 300px;
}
#main .main {
	display: inline-block;
	width: 30%;
	padding: 0 10px;
}
#main .main img {
	margin-left: 70px;
}
.txt {
	margin: 0;
}
.txt h3 {
	text-align: center;
}
.txt p {
	text-align: center;
}

/*RECENT WORKS*/
#recentWorks {
	background-color: #99D4A5;
}
#recentWorks h1 {
	text-align: center;
	color: #FFF;
	font-size: 60px;
	padding-top: 60px;
}
#recentWorks p {
	text-align: center;
	color: #FFF;
	margin-top: -30px;
}
#recentWorks ul {
	text-align: center;
}
#recentWorks ul li {
	display: inline-block;
	margin: 40px;
}
#recentWorks ul li a {
	text-decoration: none;
	color: #FFF;
}
#recentWorks ul li a:hover {
	background-color: #fff;
	color: black;
	padding: 10px;
	border-radius: 5px;
}
.pics {
	margin-left: 200px;
	margin-top: -50px;
}
.pics img {
	width: 200px;
	padding: 50px;
}
.recent-btn {
	background-color: #fff;
	color: #99D4A5;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 16px 32px;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 550px;
	margin-bottom: 80px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.recent-btn:hover {
    background-color: #99D4A5; /* Green */
    color: white;
}
/*BLOG SECTION*/
#blog {
	margin-top: 70px;
	width: 70%;
	margin-left: 200px;
	display: block;
	margin-bottom: -100px;
}
.blog-top {
	float: left;
	padding-right: 30px;
	
}
.info {
	float: right;
	width: 430px;
	padding-left: 23px;
}
.info button {
	background-color: #99D4A5;
	color: #fff;
	border: 1px solid #99D4A5;
	border-radius: 10px;
	margin-bottom: 200px;
	padding: 16px 32px;
	font-size: 16px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.info button:hover {
    background-color: #fff; 
    color: #99D4A5;
}
/*HR*/
hr {
	margin: 100px 0;
	opacity: 0.4;
}
.blog-info {
	width: 480px;
	
}
.blog-info button {
	background-color: #A5D2DA;
	color: #fff;
	border: 1px solid #99D4A5;
	border-radius: 10px;
	padding: 16px 32px;
	margin-bottom: 200px;
	font-size: 16px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.blog-info button:hover {
	background-color: #fff;
	color: #A5D2DA;
}
.bottom  {
	float: right;
}

/*====MEET OUR TEAM SECTION*/
#meetOurTeam  {
	margin-top: 100px;
	padding-bottom: 100px;
	background-color: #DDB3C2;
}
#meetOurTeam h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	padding-top: 60px;
}
#meetOurTeam p {
	text-align: center;
	color: #ededed;
	margin-top: -30px;
}
#meetOurTeam ul li {
	display: inline-block;
	width: 250px;
	padding: 25px;
}

.meetOurTeam {
	margin-top: 50px;
	margin-left: 200px;
	height: 400px;
	width: 250px;
	background-color: #fff;
}

.team h2 {
	width: 250px;
	text-align: center;
}
.team h4 {
	width: 250px;
	text-align: center;
	margin-top: -10px;
}
.team p {
	padding-top: 30px;
}
.social {
	width: 250px;
	margin-top: 20px;
	text-align: center;
}
/*=====RECENT POSTS SECTION=====*/
#recentPosts {
	padding-top: 20px;
	background-color: #A5D2DA;
	padding-bottom: 50px;
}
#recentPosts h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	padding-top: 40px;
}
#recentPosts p {
	text-align: center;
	color: #ededed;
	margin-top: -30px;
}

#recentPosts ul li {
	display: inline-block;
	width: 270px;
	margin-top: 50px; 
	margin-bottom: 50px;
	margin-left: 100px;
	background-color: #fff;

}
.recentPosts img {
	width: 270px;
}
.recentPosts h2 {
	text-align: center;
}
.recentPosts h4 {
	text-align: center;
}
.recentPosts p {
	text-align: center;
	padding-top: 15px;
}
#recentPosts button {
	background-color: #fff;
	color: #A5D2DA;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 16px 32px;
	margin-left: 550px;
	font-size: 16px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#recentPosts button:hover {
	background-color: #A5D2DA;
	color: #fff;
}
/*=====CONTACT SECTION=====*/
#contact {
	padding-top: 20px;
	background-color: #3B3B3B;
}
#contact h1 {
	text-align: center;
	padding-top: 40px;
	font-size: 60px;
	color: #fff;
}
#contact p {
	text-align: center;
	margin-top: -30px;
	color: #fff;
	padding-bottom: 30px;
}
form input,
form textarea {
	margin: 1% auto;
	display: block;
	width: 40%;
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
}
#contact button {
	background-color: #fff;
	color: #3B3B3B;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 16px 32px;
	margin-left: 550px;
	margin-top: 50px;
	font-size: 16px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#contact button:hover {
	background-color: #3B3B3B;
	color: #fff;
}

.hr {
	color: black;
}
.downright {
	float: right;
	margin-right: 50px;
	
}
.downright h5 {
	color: #525252;
	margin-top: -25px;
}
.downright span {
	color: #84775B;
}